%h1 User Profile Page

.col-md-3
	= image_tag @profile.avatar.url(:medium)
.col-md-9.profilePagePadding
	%h1= @profile.brandname
	%h2
		= @user.username

	%h3= @profile.description
	%div
		%h2 
			Level: 
			= @profile.level

