.container
	.row.center.landingPad
		%p.landingTextColor
			What are you looking for?
		%form.navbar-form{ :role => "search"}
			.input-group.add-on
				%input.form-control#srch-term{ :placeholder => "Enter Keywords: eg, blue kitten", :name => "srch-term", :type => "text" }
				.input-group-btn
					%button.btn.btn-default{ :type => "submit" }
						%i.glyphicon.glyphicon-search
	.row.landingPad
		.col-md-6
			#pictures.transitions-enabled.infinite-scroll
				- @pictures.each do |pic|
					.box
						= link_to (image_tag pic.image.url(:small)), pic
		.col-md-6
			.categoryColumn
				%p.landingTextColor
					popEFX is an artist community by artists for artists and clients of every kind. Join today!
				.lpageHeading
					ARTISTS
				%p.landingTextColor
					Earn what you deserve. Join the world's best marketplace that celebrates artists.
				- if !user_signed_in?
					%p.landingBtn
						= link_to "Join as Contributor", new_user_registration_path, :id => "landingBtn" 
				.lpageHeading
					CLIENTS
				%p.landingTextColor
					Assets available for every price range. Not the same old pictures and illustrations. See new artists.
				- if !user_signed_in?
					%p.landingBtn
						= link_to "Join to Purchase", new_user_registration_path, :id => "landingBtn" 
	.row.landingPad
		.container-fluid#featured
			%p.landingTextColor
				Artist of the Month: 
				= link_to @artMonth.username, "/users/#{@artMonth.id}", :class => "landingLink"
			.row
				= link_to @featPix do
					.featuredTile#featuredPrime
						:javascript
							featureFit("featuredPrime", "#{@featPix.image.url}", 1);
			.row
				- @artMonthStuff.each_with_index do |thing, i|
					.col-md-3
						= link_to thing do
							.featuredTile{:id => "featTile#{i}"}
								:javascript
									featureFit("featTile" + "#{i}", "#{thing.image.url(:medium)}", 4);
			%p.pull-right.landingTextColor
				= link_to "see more", @artMonth, :class => "landingLink"
	.row
		%h1.center.collectionsLink.landingPad
			View Collections

