.footer-social-icons
  %ul.social-icons
    %li= link_to (fa_icon "facebook", :class => "social-icon"), ""
    %li= link_to (fa_icon "twitter", :class => "social-icon"), ""
    %li= link_to (fa_icon "rss", :class => "social-icon"), ""
    %li= link_to (fa_icon "youtube", :class => "social-icon"), ""
    %li= link_to (fa_icon "linkedin", :class => "social-icon"), ""
    %li= link_to (fa_icon "google-plus", :class => "social-icon"), ""
