
%p
	Signing up is free! Sign up and start selling and buying images today!
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {multipart: true}) do |f|
	= f.error_notification

	.form-inputs
		#signupRadioStyle
			= f.input :artist, as: :radio_buttons, label: 'I am ', item_label_class: "radio-inline", item_wrapper_tag: false, collection: ['an Artist', 'a Client']
		.form-group.form-inline.signupInput.center
			= f.input :username, required: true, autofocus: true
		.form-group.form-inline.signupInput.center
			= f.input :email, required: true, autofocus: true
		.form-group.form-inline.signupInput.center
			= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
		.form-group.form-inline.signupInput.center
			= f.input :password_confirmation, required: true


		= f.fields_for :profile do |profile_form|

			.form-group.form-inline.signupInput.center.bc
				= profile_form.input :avatar, input_html: { class: 'form-control', as: :file }
			.form-group.form-inline.signupInput.center
				= profile_form.input :brandname
			.form-group.form-inline.signupInput.center
				= profile_form.input :description

		.control-group
			.controls
				.form-group.form-inline
					= f.input :picture1, label: 'Pic 1', as: :file
					= f.input :picture2, label: 'Pic 2', as: :file
					= f.input :picture3, label: 'Pic 3', as: :file
					= f.input :picture4, label: 'Pic 4', as: :file
					= f.input :picture5, label: 'Pic 5', as: :file

	.form-actions
		.form-group.form-inline.center.bc						
			= f.button :submit, "Save"
			= f.button :submit, "Save and Enter Banking"

